name: CI Pipeline

on:
  push:
    branches:
      - "**"

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run flake8 lint
      run: |
        pip install flake8
        flake8 --max-line-length=90

    - name: Run PyTest
      run: |
        pip install pytest
        pytest

    - name: Build Docker image
      run: docker build -t flask-app-ci .
